{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    <title>냉장부</title>
    <script src="https://kit.fontawesome.com/de3aa63fdc.js" crossorigin="anonymous"></script>
    <script src="{% static 'homepage/js/main.js' %}" defer></script>
</head>
<body>
    <!-- HEADER -->
    <header id="header">
        <div class="container">
            <div class="row">
            <nav class="navbar_topmenu">
                <div class="util">
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                </div>
            </nav>
            <nav class="navbar">
                <div class="navbar_logo">
                    <a href="#"><img class="logo" src="{% static 'homepage/images/logo.png' %}" alt="냉장부 로고"></a>
                </div>

                <ul class="navbar_menu">
                    <li><a href="">About</a></li>
                    <li><a href="">My 냉장고<i class="fa-sharp fa-solid fa-angle-down"></i></a></li>
                    <li><a href="">Recipe<i class="fa-sharp fa-solid fa-angle-down"></i></a></li>
                    <li><a href="">Contact</a></li>
                </ul>

                <ul class="navbar_icons">
                    <li><a ref="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a ref="#"><i class="fa-solid fa-user"></i></a></li>
                </ul>

                <a href="#" class="navbar_toggleBtn">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </nav>
            </div>
        </div>
    </header>

    <!-- VIDEO BANNER -->
    <figure>
        <video src="{% static 'homepage/images/preview.mp4' %}" autoplay muted loop></video>
    </figure>

    <!-- BUTTON -->
    <div class="service_button">
        <a class="button" href="#">냉장부 서비스 이용하기</a>
    </div>


    <!-- GRID -->
    <section>
        <div class="inner">
          <h1>식재료를 더욱더 스마트하게 관리해 보세요.</h1>
          <div class="wrapper grid">
            <div class="item item_img">
                <img src="{% static 'homepage/images/messy.png' %}" alt="">
            </div>
            <div class="item item_p">
                <p><strong>나만의 냉장고 관리</strong><br><br><br>복잡한 냉장고 속, <br>내가 무엇을 넣어놨는지 다 기억하시나요?<br>매번 냉장고를 뒤져가며 식재료를 찾기<br>힘들지 않으셨나요?<br>냉장부로 보다 쉽고 편리하게 식재료를 관리해 보세요.<br><br><br></p>
            </div>
            <div class="item item_p">
                <p><strong><br><br>알림 서비스</strong><br><br><br>유통기한이 지난 줄도 모르고 방치되어 있던 식재료들,<br><br>
                  유통기한 알림 서비스로 식재료 낭비도 줄이고<br> 보다 깨끗하고 쾌적하게<br>여러분의 냉장고를 관리하실 수 있습니다.<br><br><br></p>
            </div>
            <div class="item item_img">
                <img src="{% static 'homepage/images/expired.jpg' %}" alt="">
            </div>
            <div class="item item_img">
                <img src="{% static 'homepage/images/whattocook.jpg' %}" alt="">
            </div>
            <div class="item item_p">
                <p><strong><br><br>오늘은 뭘 먹지?</strong><br><br><br>
                매일 무엇을 먹을 지 고민하느라 지치지 않으셨나요?<br>나만의 냉장고에 있는 식재료를 기반으로<br>레시피를 추천받을 수 있어요.</p>
            </div>
          </div>
        </div>

        <!-- BUTTON -->
        <div class="service_button">
            <a class="button" href="#">냉장부 서비스 이용하기</a>
        </div>
      </section>

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <ul><hr>
                        <li><a href="#">사이트 도움말</a></li>
                        <li><a href="#">사이트 이용약관</a></li>
                        <li><a href="#">사이트 운영원칙</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <address>
                        Copyright &copy;
                        <a href="#"><strong>2023 냉장부</strong>
                        </a>
                        All Rights Reserved.
                    </address>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>