{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row pt-4 my-3">
        <div class="col-md-12">
            <h3>식재료 세부 내용</h3>
        </div>
    </div>
    <div class="row my-3">
        <table class="table table-bordered">
            <tr>
                <td>[식재료 이름] : {{ grocery_list.name }}</td>
            </tr>
            <tr>
                <td>[식재료 종류] : {{ grocery_list.get_category_display_name }}</td>
            </tr>
            <tr>
                <td>[식재료 개수] : {{ grocery_list.qty }}</td>
            </tr>
            <tr>
                <td>[식재료 입고일] : {{ grocery_list.in_date }}</td>
            </tr>
            <tr>
                <td>[식재료 소비기한] : {{ grocery_list.exp_date }}</td>
            </tr>
            {% if grocery_list.image %}
                <tr>
                    <td>[식재료 사진] : <img src="{% url 'refrigerators:image' grocery_list.id %}" alt=사진></td>
                {% else %}
                    <td>No image available</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div style="padding: 2px 20px; float:right;">
        <a href="{% url 'refrigerators:index' %}" class="btn btn-primary">식재료 목록</a>
    </div>
</div>

{% endblock %}