{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row pt-4 my-3">
        <div class="col-md-12" style="float: left;">
            <h3>냉장고</h3>
            <div style="padding: 2px 20px; float: right;">
                <a href="{% url 'refrigerators:register' %}" class="btn btn-primary">식재료 등록</a>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <table class="table table-hover table-bordered">
            <thead>
                <th>No</th>
                <th>제품명</th>
                <th>카테고리</th>
                <th>수량</th>
                <th>입고일</th>
                <th>소비기한</th>
                <th>사진</th>
                <th>비고</th>
            </thead>
            <tbody>
                {% for grocery in grocery_list %}
                <tr>
                    <td>{{ forloop.revcounter }}</td>
                    <td><a href="{% url 'refrigerators:view' grocery.id %}">{{ grocery.name }}</a></td>
                    <td>{{ grocery.get_category_display_name }}</td>
                    <td>{{ grocery.qty }}</td>
                    <td>{{ grocery.in_date|date:"Y-m-d" }}</td>
                    <td>{{ grocery.exp_date|date:"Y-m-d" }}</td>
                    {% if grocery.image %}
                        <td>
                            <a href="{% url 'refrigerators:image' grocery.id %}">확인</a>
                        </td>
                        {% else %}
                        <td>
                            <a href="{% url 'refrigerators:edit' grocery.id %}">등록</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'refrigerators:edit' grocery.id %}" class="btn btn-outline-info btn-sm">수정</a>
                        <a href="{% url 'refrigerators:delete' grocery.id %}" onclick="if(!confirm('정말 삭제하시겠습니까?')){return false;}" class="btn btn-outline-danger btn-sm">삭제</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}