{% extends 'base.html' %}

{% block content %}

<style>
  body {
      font-family: 'Noto Sans KR', sans-serif;
  }
</style>

<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="text-center mb-5">
                <h3 class="d-inline-block align-middle">식재료 등록 방법 선택</h3>
            </div>
            <div class="mb-5">
              <form method="post">
                  {% csrf_token %}
                  <div class="">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="insertion_method" id="manual" value="manual" checked>
                      <label class="form-check-label" for="manual">
                        수기 입력
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="insertion_method" id="photo" value="photo">
                      <label class="form-check-label" for="photo">
                        사진 인식
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="insertion_method" id="barcode" value="barcode">
                      <label class="form-check-label" for="barcode">
                        바코드 인식
                      </label>
                    </div>
                  </div>
                  <br>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">다음</button>
                      <a href="{% url 'refrigerators:index' %}" class="btn btn-primary">식재료 목록</a>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>


{% if error_message %}
    <script>
        alert('{{ error_message }}');
    </script>
{% endif %}

{% endblock %}
