{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row pt-4 my-3">
        <div class="col-md-12">
            <h3>사진으로 식재료 등록</h3>
        </div>
    </div>
    <div class="row my-3"></div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="padding: 5px 50px; float:right;">
                <input class="btn btn-primary" type="submit" value="사진 업로드">
                <a href="{% url 'refrigerators:index' %}" class="btn btn-primary">식재료 목록</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
