{% extends 'base.html' %}

{% block content %}

<style>
    body {
        font-family: 'Noto Sans KR', sans-serif;
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="text-center mb-5">
                <h3 class="d-inline-block align-middle">사진으로 식재료 등록</h3>
            </div>
            
            <div class="text-center mb-5">
                <form action="" method="post" enctype="multipart/form-data" id="upload-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="image-preview" style="display:none;" class="text-center">
                    <img id="preview-image" src="#" alt="Image Preview" width="300px">
                </div>
                <br>
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="사진 업로드 및 분석">
                    <a href="{% url 'refrigerators:index' %}" class="btn btn-primary">식재료 목록</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview-image');
            output.src = reader.result;
            document.getElementById('image-preview').style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
    document.getElementById('id_image').addEventListener('change', previewImage);
</script>

{% endblock %}
