{% load static %}
<script type="text/javascript">var redipsURL = '/javascript/drag-and-drop-table-row/';</script>
<link rel="stylesheet" href="{% static 'refrigerators/icon_display/two_doors.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'refrigerators/icon_display/tooltip.css' %}" type="text/css" media="screen" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--<script type="text/javascript" src="{% static 'refrigerators/icon_display/redips-drag.js' %}"></script>-->
<script type="text/javascript" src="{% static 'refrigerators/icon_display/redips-drag-min.js' %}"></script>
<script type="text/javascript" src="{% static 'refrigerators/icon_display/two_doors.js' %}"></script>

<article>
	<!-- tables inside this DIV could contain drag-able content  -->
	{% csrf_token %}
	<div>
		<button type="button" class="btn btn-outline-primary mb-3"
				onclick="tableToJson('{{ request.user.id }}',document.getElementById('ice-fridge'),document.getElementById('fresh-fridge'))">
			저장
		</button>
	</div>

	<div id="redips-drag" style="float:left;">
		<table class="tbl1" id="ice-fridge">
			<colgroup>
				<col width="30"/>
				<col width="70"/>
				<col width="70"/>
				<col width="70"/>
				<col width="70"/>
				<col width="70"/>
			</colgroup>
			<tbody>
			<tr>
				<th colspan="6" class="redips-mark">냉동</th>
			</tr>
			{% for ctx in ice %}
			<tr class="rf">
				<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
				{% for k, v in ctx.items %}
				<td>
					{% if v %}
					<div class="redips-drag white">
						<img src="data:image/png;base64, {{v.icon_img}}" style="width:15px;">
						<div class="tooltip-c">

							{% if v.name|length <= 4 %}
							{{ v.name }}
							{% else %}
							<p class="min-font-size" style="display: inline">
								{{ v.name|slice:":4" }}
							</p>
							{% endif %}

							<p class="tooltip-c-text">
								{{v.str}}
							</p>
						</div>
						<small name="uid" hidden="hidden">{{ v.id }}</small>
					</div>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="6" class="redips-mark">
					<span hidden="hidden">Message line</span>
				</td>
			</tr>
			</tbody>
		</table>

		<table id="fresh-fridge">
			<colgroup>
				<col width="30"/>
				<col width="70"/>
				<col width="70"/>
				<col width="70"/>
				<col width="70"/>
				<col width="70"/>
			</colgroup>
			<tbody>
			<tr>
				<th colspan="6" class="redips-mark">냉장</th>
			</tr>
			{% for ctx in fresh %}
			<tr class="rs">
				<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
				{% for k, v in ctx.items %}
				<td>
					{% if v %}
					<div class="redips-drag white">

						<img src="data:image/png;base64, {{v.icon_img}}" style="width:15px;">
						<div class="tooltip-c">
							{% if v.name|length <= 4 %}
							{{ v.name }}
							{% else %}
							<p class="min-font-size" style="display: inline">
								{{ v.name|slice:":4" }}
							</p>
							{% endif %}

							<p class="tooltip-c-text">
								{{v.str}}
							</p>
						</div>
						<small name="uid" hidden="hidden">{{ v.id }}</small>
					</div>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}

			<tr>
				<td colspan="6" class="redips-mark">
					<span hidden="hidden">Message line</span>
				</td>
			</tr>
			</tbody>
		</table>


	</div>

</article>
