{% load static %}
<section id="intro">
  <div class="container-lg my-3">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <h1>
          <div class="display-3">Korean Recipes</div>
          <div class="display-6 text-muted">한국 레시피 추천</div>
        </h1>
        <p class="lead my-4 text-muted">냉장고에 있는 재료로 어떤 요리를 만들수 있을까? 냉장부에서 가진재료를 활용할 수 있는 레시피를 추천해드려요✨</p>
        <a href="" class="btn btn-light btn-lg">레시피 추천받기</a>
      </div>
      <div class="col-md-5 float-end text-end d-none d-md-block">
        <img src="{% static 'recsys/recsys_2/img/tpk.jpg' %}" class="img-fluid" alt="banner">
      </div>
    </div>
  </div>
</section>