{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row pt-4 my-3">
        <div class="col-md-12">
            <h3>회원 정보 수정 페이지</h3>
        </div>
    </div>
    <div class="row my-3">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ editForm.as_p }}
            <div>
                <input class="btn btn-primary" type="submit" value="회원가입">
            </div>
        </form>
    </div>
  </div>


{% endblock %}